

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset Euro_2012_stats_TEAM

### Step 3. Assign it to a variable called euro12.

In [25]:
euro12 = pd.read_csv("Euro_2012_stats_TEAM.csv")

### Step 4. Select only the Goal column.

In [26]:
euro12.loc[: , "Goals"]

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [27]:
print(len(euro12.index), "Teams participated in Euro2012")

16 Teams participated in Euro2012

### Step 6. What is the number of columns in the dataset?

In [28]:
len(euro12.columns)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [38]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [33]:
print(discipline.sort_values(by = 'Red Cards'))

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
7                 Italy            16          0
8           Netherlands             5          0
10             Portugal            12          0
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1

In [35]:
print(discipline.sort_values(by = 'Yellow Cards'))

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
11  Republic of Ireland             6          1
12               Russia             6          0
1        Czech Republic             7          0
9                Poland             7          1
14               Sweden             7          0
0               Croatia             9          0
6                Greece             9          1
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0

### Step 9. Calculate the mean Yellow Cards given per Team

In [36]:
discipline["Yellow Cards"].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [43]:
a = euro12[['Team', 'Goals']]
Goals_6 = a.sort_values(by = 'Goals')
Goals_6.tail(2)

       Team  Goals
5   Germany     10
13    Spain     12